{
	admin off
	auto_https off
	skip_install_trust

	log {
		level INFO
		format json {
			time_format "rfc3339_nano"
		}
	}
}

:8080 {
	log

	header -Server

	handle_path /ws {
		reverse_proxy {$NATS_WS_ADDRESS}
	}

	handle {
		root * /usr/share/ui
		try_files {path} /app.html
		file_server
	}
}
